.menu-user{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 12em;
    left: 8em;
    
    

    .usuario-logado{
        position: relative;
        bottom: 6em;
        left: 3.5em;
    
        width: 6vh;
        height: 7.5vh;
    }
    
    .links{
        display: flex;
        flex-direction: column;
        margin-right: 1em;
        margin-top: 1em;
    }
    
    .Link{
        margin: 1em;
        text-decoration: none;
    
    
    }
    
    .hr{
        height: 20em;
        width: 4px;
        background-image: linear-gradient(to bottom, #4EB9DB, #521FAF, #FF2C83);
        border: none;
    
    }
}

