footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #521FAF;
    height: 30vh;
    padding-top: 1.5em;
    padding-bottom: 1em;
    position: absolute;
    width: 100%;
    .outro{
        display: flex;
        justify-content: center;
        margin-top: 2.5em;

        p{
            color: #ffffff;
            font-size: 1.8em;
        }
        span{
            color:#FF2B5E ;
        }
    }
    div {
        display: flex;
        justify-content: center;
        margin-top: 1em;
        hr{
            height: 3px;
        background: linear-gradient(270deg, #FF2B5E 35.42%, #521FAF 50.83%, #2BFFBF 64.58%);
        border: none;
        width: 500px;
        }
    }
    .Redes{
        display: flex;
        justify-content: center;
        .icon{
            width: 40px;
            height: 40px;
            margin: 15px;
        }
    }
    
}