.DadosPessoais {
    width: 100%;
    display: flex;
    flex-direction: column;

    .user-nome{
        display: flex;
        flex-direction: row;
        align-items: center;
        p{
            margin-left: 5px;
        }
    }

    .flex-column-info {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 80%;
        justify-content: space-evenly;
        padding: 2em;
    }

    .flex-row-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 80%;
        padding: 2em;
        overflow-y: scroll;
    }

    .borda {
        border: 3px solid transparent;
        border-image: linear-gradient(#FF2C83, #521FAF, #521FAF);
        border-image-slice: 1;
        width: 45%;
        height: 55%;
        margin: 1em;
    }

    .borda p {
        font-family: 'Lexend-Light';
        font-size: 14px;
    }

    .borda div {
        margin-top: 1em;
    }

    .pedido-txt {
        font-family: 'Lexend-Bold';
        font-size: 14px;
        font-weight: 300;
        text-transform: none;
    }

    .pedido-txt span {
        font-family: 'Lexend-Regular';
        font-size: 14px;
        color: #FF2C83;
        text-transform: none;
    }

    .nome-pedido {
        font-family: 'Lexend-Regular';
        font-size: 16px;
        margin: 0em 0em 1em 0em;
    }

    .princ-infos1 {
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-between;

        .princ-infos1 input {
            padding: 5px;
            width: 100%;
        }

        .coluna11 {
            display: flex;
            flex-direction: column;
        }

        .coluna11 div {
            margin: 2em 0em;
        }

        .coluna21 div {
            margin: 2em 0em;
        }

        .coluna21 {
            display: flex;
            flex-direction: column;
        }

        p {
            font-family: 'Lexend-Regular';
            font-size: 16px;
            color: rgb(85, 85, 85);
        }

        span {
            font-family: 'Lexend-Light';
            font-size: 14px;
            color: rgb(0, 0, 0);
        }
    }

    .menu-user {
        display: flex;
        flex-direction: row;


        .direction {
            display: flex;
            flex-direction: column;
            align-self: center;
            width: 100%;
        }

        .usuario-logado {

            width: 6vh;
            height: 7.5vh;
        }

        .links {
            display: flex;
            flex-direction: column;
            padding: 1em;
        }

        .Link {
            margin: 1em 0em;
            text-decoration: none;
            border: none;
            font-family: 'Lexend-Regular';
            color: #252525;
            text-align: left;
        }

        .Link:hover {
            cursor: pointer;
            color: #FF2C83;
        }

        .hr {
            height: 90%;
            width: 4px;
            background-image: linear-gradient(to bottom, #4EB9DB, #521FAF, #FF2C83);
            border: none;
            align-self: center;

        }
    }

    .dados {
        border: 3px solid transparent;
        border-image: linear-gradient(#FF2C83, #521FAF, #521FAF);
        border-image-slice: 1;
        padding: 25px;
        width: 80vw;
        align-self: center;
        height: 65vh;
        color: #252525;
        font-family: 'Lexend-Light';
        font-size: 12px;
        text-transform: capitalize;
        display: flex;
        margin: 20vh 0vh 0vh 0vh;

        h6 {
            font-size: 14px;
            text-transform: uppercase;
        }

        .Endereco:hover {
            cursor: pointer;
        }
    }


    .leg {

        background-color: #6235b4;


    }

    .footer {
        margin-top: 15em;
    }

    .box {
        margin-top: 2em;
    }



    .Link2 {
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        font-family: 'Lexend-Regular';
        border: none;
        border-radius: 30px;
        padding: 5px 15px;
        background-color: #521FAF;
        color: #FFFFFF;
    }

    .Link2:hover {
        cursor: pointer;
        background-color: #6235b4;
    }

    .end-card {
        display: flex;
        flex-direction: row;
        overflow-y: scroll;
        padding: 2em;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }

}