.DadosPessoais {
    width: 100%;
    display: flex;
    flex-direction: column;

    .menu-user {
        display: flex;
        flex-direction: row;


        .direction {
            display: flex;
            flex-direction: column;
            align-self: center;
            width: 100%;
        }

        .usuario-logado {

            width: 6vh;
            height: 7.5vh;
        }

        .links {
            display: flex;
            flex-direction: column;
            padding: 1em;
        }

        .Link {
            margin: 1em 0em;
            text-decoration: none;
            border: none;
            font-family: 'Lexend-Regular';
            color: #252525;
            text-align: left;
        }

        .Link:hover{
            cursor: pointer;
            color: #FF2C83;
        }

        .hr {
            height: 90%;
            width: 4px;
            background-image: linear-gradient(to bottom, #4EB9DB, #521FAF, #FF2C83);
            border: none;
            align-self: center;

        }
    }

    .dados {
        border: 3px solid transparent;
        border-image: linear-gradient(#FF2C83, #521FAF, #521FAF);
        border-image-slice: 1;
        padding: 25px;
        width: 80vw;
        height: 60vh;
        color: #252525;
        font-family: 'Lexend-Light';
        font-size: 12px;
        text-transform: capitalize;
        display: flex;
        margin-top: 20vh;

        h6 {
            font-size: 14px;
            text-transform: uppercase;
        }

        .Endereco:hover {
            cursor: pointer;
        }
    }


    .leg {

        background-color: #6235b4;


    }

    .footer {
        margin-top: 15em;
    }

    .box {
        margin-top: 2em;
    }



.Link2 {

    text-align: center;
    text-decoration: none;
    width: 13%;
    font-size: 15px;

    border-radius: 30px;
    padding: 0.8em 2em;
    background-color: #521FAF;
    color: #FFFFFF;

    position: relative;
    top: 2em;
    left: 60%;
}

.end-card {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    padding: 2em;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

}
