.pedidomain {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .sacola {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .tabela {
        text-align: center;
        align-self: center;
        width: 90%;
        border-collapse: collapse;
    }

    .tabela tr {
        border-bottom: 2px solid #fff;
    }

    .tabela td {
        padding: 1em;
        font-family: 'Lexend-Bold';
        font-size: 16px;
        text-transform: uppercase;
    }

    .td {
        width: 30%;
    }


.alterar4{
    margin-right: 18em;
    margin-left: 8em;

}
.alterar5{
    margin-right: 18em;
    color: #8d8c8c;

}
.alterar6{
    color: #8d8c8c;

}
.valoresFinais{
    width: 200px;
    height: 100px;
    background-color: aqua;

    
}
}
