.pag1-adm {
    height: 100vh;
    display: flex;
    width: 100%;
    background-image: url("../../../../public/images/planodefundo.png");
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .Bem-Vindo {
        position: relative;
        right: 5em;
        margin-bottom: 1em;
        font-size: 22px;
        font-family: 'Lexend-Light';
        font-weight: 100;
        color:#521FAF;
    }

   

    .fundo-pedido {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 1em 0em;
        overflow-y: scroll;

    }

    .tabela {
        background-color: #fff;
        border-collapse: collapse;
        width: 80%;
        height: max-content;
        font-family: 'Lexend-Light';
        font-size: 14px;

    }

    .tabela td {
        padding: 0.5em; 
        width: 14.5%;
    }

    .tabela thead {
        background-color: #521FAF;
        color: #fff;   
        font-size: 15px;
    }

    .fundosituacao {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.582);
        width: 100%;
        height: 100vh;
        z-index: 2;
        position: absolute;
    }

    .situacaoalterar {
        display: flex;
        flex-direction: column;
        width: 50vw;
        height: 50vh;
        border: 3px solid transparent;
        border-image: linear-gradient(#FF2C83, #521FAF, #521FAF);
        border-image-slice: 1;
        background-color: #fff;
        justify-content: center;
        padding: 1em;
    }

    .situacaoalterar h2 {
        font-family: 'Lexend-Bold';
        font-size: 22px;
        padding: 10px 0px;
    }

    .opcoessit {
        margin: 2em 0em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 25vh;
    }

    .opcoessit div {
        padding: 0.5em;
        margin: 0.5em 0em;
    }

    .opcoessit h6 {
        font-family: 'Lexend-Light';
        font-size: 14px;
    }

    .opcoessit h6:hover{
        cursor: pointer;
        color: #FF2C83;
    }

    .situacaoalterar h3 {
        font-family: 'Lexend-Regular';
        font-size: 16px;
    }

    .situacaoalterar span {
        color: #521FAF;
    }

    .botoessit {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .botoessit button {
        padding: 5px 10px;
        background-color: #FF2C83;
        border-radius: 10px;
        font-family: 'Lexend-Light';
        color: #fff;
        margin-right: 1em;
        border: none;
    }

    .botoessit button:hover {
        background-color: #db2973;
    }
    
        .oi{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 20%;
            align-items: center;
            justify-content: space-evenly;
            .adm{
                display: flex;
                flex-direction: row;
                align-items: center;
        
                img{
                    width: 35px;
                    height: 35px;
                }
                p{
                    font-size: 20px;
                    color: #521FAF;
                    margin-left: 0.5em;
                    font-family: 'Lexend-Light';
                }

                span {
                    color: #FF2C83;
                }
        }
    }
}