.passos{
    display: flex;
    flex-direction: row;
    margin-top: 2em;


   
    
}


.linha-finalizacao{
    display: flex;
    height: 2px;
    width: 75em;
    margin-left: 5.5em;
    margin-top: 2em;
    background-color: black;
}