.princ-infos {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100%;
    height: 100%;
    padding: 2em;

    .princ-infos div {
        margin: 2em 0em;
    }

    .coluna1{
        display: flex;
        flex-direction: column;
        padding: 2em;
    }
    .coluna2{
        display: flex;
        flex-direction: column;
        position: relative;
        left: 10em;
        padding: 2em;
    }
    .princ-infos p{
        font-family: 'Lexend-Regular';
        font-size: 16px;
        color: rgb(85, 85, 85);
    }
    .princ-infos span {
        font-family: 'Lexend-Light';
        font-size: 14px;
        color: rgb(0, 0, 0);
    }
}