div .princ-infos{
    display: flex;
    
    flex-direction: row;
    position: absolute;
    bottom: 1em;
    left: 25em;


    .coluna1{
        display: flex;
        flex-direction: column;
    }
    .coluna2{
        display: flex;
        flex-direction: column;
        position: relative;
        left: 10em;
    }
    p{
        margin: 1.5em;
    }
}