.mainentrega {
    width: 100%;
    height: 100vh;
.alterar1{
    margin-right: 18em;
    margin-left: 8em;
    color: #8d8c8c;

}

.alterar2{
    margin-right: 18em;
}

.alterar3{
    color: #8d8c8c;
}

.titulo{
    color: #FF2C83;
    p{  
        position: relative;
        left: 5em;
        top: 2em;
    }
    hr{
        width: 35%;
        border: 1px solid #FF2C83; 
        position: relative;
        left: 5em;
        top: 2.8em;

    }
}

//Resumo do Pedido
.cab-res-ped{
    display: flex;
    flex-direction: row;
    background-color: #521FAF;
    padding: 1em;
    width: 350px;

    position: -webkit-sticky; 
    position: sticky;
    top: 0;

    p{
        display: flex;
        align-items: center;
        color: #fff;
        margin-left: 1em;
    }
}

.box-resumo{
   margin-left: 70%;
   margin-top: 2.5em;
    width: 350px;
    height: 350px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        box-shadow: -3px 3px 5px 0px rgb(180, 180, 180);
        overflow: auto;
        
}

.resumo-pedidos{
    display: flex;
    flex-direction: row;
}

.titulos{
    margin-top: 5px;
    h2{
        font-size: 14px;
        color: #464646;
    }

   

    
}

.nome{
    font-size: 12px;
    color: #5E5E5E;
    width: 10em;
}

.preco{
    font-size: 12px;
    color: #FF2C83;
}

.imagem-resumo{
    width: 75px;
    height: 70px;
    border-radius: 5px;
    margin: 0.5em;

}

.qtd{
    display: flex;
    justify-content: center;
    align-items: center;
}


.total{

    display: flex;
    flex-direction: row;
    background-color:  #D9D9D9;
    padding: 1em;
    width: 352px;
    height: 10vh;

    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    margin-left: 70%;
    box-shadow: -3px 3px 5px 0px rgb(180, 180, 180);


}


.p-total{
    margin-left: 12em;

}

.sub-total{
    display: flex;
    align-items: center;
    margin-left: 3em;
}
.formulario-cartao{
    position: relative;
    left: 6em;
    bottom: 7em;

    .compra{
        display: flex;
        flex-direction: row;
        align-items: center;

        img{
            position: relative;
            top: 2em;
            left: 2em;
        }
        .pagamento{
            position: relative;
            top: 2.5em;
            left: 3em;
        }
        
    }
    .fileira1{
        display: flex;
        flex-direction: row;
        margin-top: 1em;
        position: relative;
        top: 3em;        
        left: 2em;

        .div1{
            input{
                width: 25em;

            }
        }
        .div2{
            margin-left: 2em;

            input{
                width: 20em;
            }
        }
        .div3{
            margin-left: 2em;
            select{
                width: 11em;
            }
        }
        .div4{
            margin-left: 2em;
            select{
                width: 14em;
            }
        }
        .div5{
            margin-left: 2em;
        }
    }

p{
    font-size: 13px;
    margin-bottom: 0.5em;
}
}
.salvar{
    position: relative;
    left: 75%;
    bottom: 6em;

   padding: 1em 6em;

background: #521FAF;
color: #fff;
border: none;
border-radius: 5px;

}
}

