*{
    .Novo-Produto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("../../../../public/images/planodefundo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .cardProdutos{
        background-color:#ffffff;

    }

    .produtosmapeamento {
        display: flex;
        align-self: center;
        flex-direction: row;
        justify-content: left;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }

    .centralizar {
        display: flex;
        align-items: left;
    }

    .espacamento {
        display: flex;
        width: 100%;
        padding: 2em 1em;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .edit {
        background-color: #521FAF;
        font-family: "Lexend-Regular";
        color: #ffffff;
        font-size: 12px;
        text-decoration: none;
        text-align: left;
        padding: 0.5em 1em;
    }

    .select{
        padding: 1px 0.5em;
        background-color: #ffffff;
        border:  1px solid #521FAF;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .bt-select{
        border: none;
        background-color: #FF2C83;
        padding: 2px 0.5em;
        border-radius: 5px;
        color: #ffffff;
        margin-left: 5px;
    }
}