.fundo-banner {
    height: 100vh;
    display: flex;
    width: 100%;
    background-image: url("../../../../public/images/planodefundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}