
.favoritos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: 90vh;
    padding: 5%;
    margin-top: 10%;
}

.leg{

    background-color: #e25475;
    

}