.box-info{
   display: flex;
   justify-content: center;
   .box {
      display: flex;
      justify-content: center;
      align-items: center;
          border-radius: 10px; /*1*/
       border: 4px solid transparent; /*2*/
       background: linear-gradient(#4EB9DB, #521FAF, #FF2C83) border-box; /*3*/
   -webkit-mask: /*4*/
          linear-gradient(#fff 0 0) padding-box, 
          linear-gradient(#fff 0 0);
       -webkit-mask-composite: xor; /*5'*/
               mask-composite: exclude; /*5*/
   
               position: absolute;
               top: 11em;
               width: 1100px;
               height: 500px;
     }
}