.maintemaproduto {

    .produtos-tema {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 2em;
    }


    .linha {
        height: 5px;
        background: linear-gradient(270deg, #FF2B5E 35.42%, #521FAF 50.83%, #2BFFBF 64.58%);
        border: none;
    }

    .banner {
        width: 85em;
    }

    .links-menu {
        display: flex;
        justify-content: space-evenly;
        margin-top: 1em;
    }


    .banner1 {
        width: 100%;
        height: 80vh;
    }

    .Link {
        color: #521FAF;
        font-family: 'Lexend-Light';
        font-size: 16px;
        border: none;
        background-color: #fff;
        text-decoration: underline;
    }

    .Link:hover {
        cursor: pointer;
        color: #643ab3;
    }
    .paginacao{
        display: flex;
        justify-content: center;
        margin: 1em;
    }
    .bt-paginacao{
        margin: 0.5em;
        border: none;
        font-size: 1em;
        background-color: #fff;
        color: #521FAF;
    }

    .bt-paginacao:hover,.button.button-custom:active {

        color: #FF2B5E;
        
        }  
}