.espaco {
    overflow: visible;
    position: fixed;
    z-index: 2;
    width: 100%;
    

.cab1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #521FAF;
    padding: 0.5em;
    width: 100%;
    height: 15vh;
}

.logo1{
    height: 13vh;
    width: 13vh;
    align-self:flex-end;

}

.menuCab1{
    height: 25px;
    width: 25px;
}

.icons1{
    height: 24px;
    width: 28px;
}

.busca1{
    width: 40em;
    height: 2em;
    border-radius: 5px;
    padding: 10px;
    border: none;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    bottom: 0.5em;
}



.linha1{
    height: 5px;
    background: linear-gradient(270deg, #FF2B5E 35.42%, #521FAF 50.83%, #2BFFBF 64.58%);
    border: none;
}



.sacolaw {
    width: 25vw;
    height: 70vh;
    background-color: rgb(243, 242, 242);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    position: fixed;
    right: percentage($number: 0);
    top: 10vh;
    box-shadow: -3px 3px 5px 0px rgb(180, 180, 180);
}

.escala{
    position: relative;
    top: 1.3em;

}
.imagem-resumo{
    width: 70px;
    height: 70px;
    margin: 0.5em;
}

.sacola {
    background-color: #FF2B5E;
    height: 4em;
    color: #fff;
    text-align: center;
    font-family: 'Lexend-Regular';
    font-size: 14px;
    text-transform: uppercase;
}

.espbotoes {    
    width: 40%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
.carrinhoitens{
    display: flex;
    flex-direction: row;
   
}
.bt-busca1{
    position: relative;
    right: 2em;
    width: 25px;
    height: 25px;
}

.preco-item{
    position: relative;
    left: 5em;
    top: 2em;
}
.realize{
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    .rea{
        width: 100%;
        text-decoration: none;
        padding: 1em;
        background-color: #521FAF;
        color: #fff;
        text-align: center;
    }
}
}