.main {
    display: flex;
    width: 100%;
    min-height: auto;

    .landing-conteudo {
        display: flex;
        flex-direction: column;
        height: max-content;
        width: 100%;
        margin-top: 15vh;
        margin: 0px;

    }

    .sessaoTemas {
        display: flex;
        flex-direction: column;
        background-color: #420555;
        width: 100%;
        padding: 6em 4em;
    }


    .sessao {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 100%;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0em 2em;
        height: 50vh;
        width: 30vh;
        border-radius: 0.5em;
        margin-top: 2em;



    }

    .card div {
        display: flex;
        padding: 1em;
        border-radius: 0em 0em 1em 1em;
        height: 15%;
        align-items: center;
        justify-content: center;
    }

    .tema-link {
        font-family: 'Lexend-Regular';
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 18px;
    }

    .tema-link:hover {
        cursor: pointer;
        color: rgb(194, 192, 192);
    }

    .imagem-tema {
        height: 85%;
        width: 100%;
        border-radius: 0.5em 0.5em 0em 0em;
    }

    .container-banner {
        margin-top: 15.5vh;
        background: linear-gradient(90deg, #ff2c83 0%, #521faf 44.16%, #00b8ae 85.63%);

    }

    .banner {
        width: 100%;
        height: 85%;

    }

    .encontre {
        text-align: center;
        color: #FBF8F8;
    }

    .main h2 {
        padding-top: 5em;
        text-align: center;
        color: #fff;
    }

    .faixa {
        display: flex;
        justify-content: space-around;
        background-color: #e0dcdc;
        align-items: center;
        padding: 2em 1em;

        p {
            text-align: center;
            width: 20em;
        }

        .icons-1 {
            width: 60px;
            height: 40px;
        }

        .icons-3 {
            width: 40px;
            height: 40px;
        }
    }

    .linha-vertical {
        width: 40px;
        height: 0px;
        background-color: #000;
        transform: rotate(88.6deg);
    }


    .app {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../../../../public/images/astronauta.png");
        background-repeat: no-repeat;
        background-position-y: top;
        background-position-x: right;
        width: 100%;
        height: 100vh;


        .container {
            max-width: 75vw;
            height: 60vh;
            align-content: center;
            justify-content: center;

            .titulo-h3 {
                text-align: center;
                font-size: 1.7em;
                background: linear-gradient(90deg, #ff2c83 0%, #521faf 44.16%, #00b8ae 85.63%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            h3 {
                text-align: center;
            }

            .carousel {
                display: flex;

                overflow: hidden;
                scroll-behavior: smooth;
            }

            .carousel::-webkit-scrollbar {
                display: none;
            }

            .item {
                display: flex;
                flex-direction: row;
                margin: 10px;
                padding: 11px;
            }

        }

        .bts {
            display: flex;
            justify-content: center;
            width: 100%;
            text-align: center;
            align-items: center;
            position: relative;
            top: 4em;

            button {
                background-color: transparent;
                border: none;
                cursor: pointer;
                margin: 5px;
            }
        }
    }

    .icons-1 {
        width: 85px;
        height: 55px;
    }

    .icons-3 {
        height: 3em;
    }

    .main p {
        width: 220px;
        font-size: 14px;
        text-align: center;
    }



    .Bem-vindo {
        display: flex;
        justify-content: center;
        display: flex;
        height: 80vh;
        width: 100%;
        background-image: url("../../../../public/images/galaxia.png");
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        padding: 2em;
    }

    .h3-bemVindo {
        background: linear-gradient(90deg, #ff2c83 0%, #521faf 44.16%, #00b8ae 85.63%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 30px;
        width: 12.5em;
        line-height: 43px;
        text-align: center;
    }

    .texto {
        font-size: 23px;
        width: 20em;
        line-height: 45px;
        text-align: center;
    }

    .galaxia {
        margin: 0px;

    }

    .App {
        padding: 2em 0em;
    }


}