.menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.2em;
        background-image: linear-gradient(to bottom, #3F93AF, #BA3272);
        height: 90vh;
        width: 11em;
        text-align: center;

    .opcao{
        font-family: 'Lexend-Light';
        text-decoration: none;
        font-size: 1.2em;
        color: #ffffff;
        align-self: center;
        font-weight: 100;
    }

    .opcao:hover{
        color: #3F93AF;
    }

    .administracao
    {
        font-family: 'Lexend-Regular';
        font-size: 1em;
        font-weight: 100;
        color: #fff;
        align-self: center;
        text-transform: uppercase;
    }

    
}