.Endereco {
    border: 3px solid transparent;
    border-image: linear-gradient(#FF2C83, #521FAF, #521FAF);
    border-image-slice: 1;
    padding: 25px;
    width: fit-content;
    height: fit-content;

}

.Endereco:hover {
    cursor: pointer;
}